<footer class="footer bg-sub">
	<div class="container">
		<div class="row align-items-center px-20">
			<div class="col-md-9  col-sm-12 text-sm-center">
				<p class=" fc-white fw-400">&copy;
					{{year}}
					<a href="https://wearedamage.com/" target="_blank" rel="noopener"
						class="fc-main">{{company_name}}</a>
					{{copyrights}}
				</p>
			</div>
			<div class="col-md-3 col-sm-12 ">
				<a class="logo secondary" href="https://wearedamage.com/" target="_blank"
					rel="noopener">{{company_name}}</a>
			</div>
		</div>
	</div>
</footer>
