	<div class="bg-sub">

		<footer class="container px-10">
			<div class="row align-items-center justify-content-between">
				<div class="col-md-5 text-center text-md-left ">
					<p class="mb-0 fc-white fw-400">&copy;
						{{year}}
						<a href="https://wearedamage.com/" target="_blank" rel="noopener"
							class="fc-main">{{company_name}}</a>
						{{copyrights}}
					</p>
				</div>
				<div class="col-md-2 justify-content-center mx-20">
					<a class="logo secondary" href="https://wearedamage.com/" target="_blank" rel="noopener">{{company_name}}</a>
				</div>
			</div>
		</footer>
	</div>
