<header>
	<nav class="container">
		<div class="row">
			<div class="col-md-12 d-flex justify-content-between mx-md-20 mx-xs-5">
				<div class="col-md-2">
					<h1>
						<a class="logo" href="/">
							{{company_name}}
						</a>
					</h1>
				</div>
				<div class="col-md-10  fs-7 fw-400 d-flex justify-content-end align-items-center  text-capitalize">
					<a href="#" class="navigation_link my-20 fc-secondary fs-7 fw-400">{{nav_link_1}}</a>
					<a href="#" class="navigation_link my-20 fc-secondary fs-7 fw-400">{{nav_link_2}}</a>
					<a href="#" class="navigation_link my-20 fc-secondary fs-7 fw-400">{{nav_link_3}}</a>
					<a href="#" class="btn btn-main btn-lg ">
						<span>
							contact
						</span>
					</a>
				</div>
			</div>
		</div>
	</nav>
</header>
