<section class="hero">
	<div class="container ">
		<div class="row justify-content-center">
			<div class="col-md-8 text-center mx-100 ">
				<h1 class="header text-capitalize fw-400">We do awesome things</h1>
				<h4 class="fw-400 fc-darkgrey">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, reiciendis. Cumque necessitatibus
					nam velit eveniet
				</h4>
			</div>
		</div>
		<div class="row justify-content-center ">
			<div class="col-md-10 hero_img">
				<img src="../img/browser-image.svg" alt="hero_img" class="responsive">
			</div>
		</div>
	</div>
</section>
