<section class="contact mb-80">
	<div class="container">
		<div class="row">
			<div class="col-md-12 d-flex justify-content-center">
				<div class="col-md-8 text-center mx-100">
					<h1 class="header text-capitalize fw-400 fc-sub">Contact About Awesomenes</h1>
					<h4 class="fw-400 fc-darkgrey">
						Lorem ipsum dolor sit amet consectetur
						adipisicing elit. Nemo, reiciendis.
						Cumque necessitatibus nam velit eveniet
					</h4>
				</div>
			</div>
		</div>
		<div class="row justify-content-around">
			<div class="col-sm-6">
				<form method="GET" autocomplete="on">
					<div class="input-group">
						<label for="name" class="fc-sub mx-10 text-capitalize">Your Name</label>
						<input type="text" name="name" id="name" placeholder="Please enter your name" required
							class="mb-30">
					</div>
					<div class="input-group">
						<label for="tell" class="fc-sub mx-10 text-capitalize">Your telephone number</label>
						<input type="tel" name="tell" id="tell" placeholder="800-123-456" required>
						<span class="state-message error">...</span>
					</div>
					<div class="input-group">
						<label for="email" class="fc-sub mx-10 text-capitalize">Your Email</label>
						<input type="email" name="email" id="email" placeholder="Please enter your email" required>
						<span class="state-message error">Error: Please enter a valid email</span>
					</div>
					<div class="input-group">
						<label for="message" class="fc-sub mx-10 ">Your Message</label>
						<textarea type="text" name="message" id="message" placeholder="Please enter your message"
							class="pb-100" required></textarea>
					</div>
					<small class="fc-sub">Please enter as much as possible</small>
					<div class="d-flex justify-content-end">
						<button type="submit" class="btn mx-30 btn-main btn-main--sub bg-sub text-capitalize ">
							<span>Submit</span>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
