<section class="container">
		<div class=" col-sm-8 col-xs-5 m-auto">
			<div class="text-center mx-100 ">
				<h1 class="text-capitalize fw-400 fc-sub">We do awesome things</h1>
				<h4 class="fw-400 fc-darkgrey">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo,
					 reiciendis. Cumque necessitatibus
					nam velit eveniet
				</h4>
			</div>
		</div>
		<div class="row justify-content-center ">
			<div class="col-md-10 col-xs-6">
				<img src="../img/browser-image.svg" alt="hero_img" class="responsive">
			</div>
		</div>
</section>
