<main class="container">
	<section class="section-one">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8 text-center mx-100 ">
					<h1 class="header text-capitalize fw-400">We do really awesome things</h1>
					<h4 class="fw-400 fc-darkgrey">
						Lorem ipsum dolor sit amet,
						<a class="fc-main" href="https://wearedamage.com/" target="_blank" rel="noopener noreferrer">
							link
						</a> consectetur adipisicing elit.
						Libero sapiente nostrum fugiat ullam
						vitae animi.
					</h4>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-4">
					<div class="card_img">
						<img title="service badge 1" src="../../img/icon-service-badge-1.svg" alt="service badge 1"
							class="circle">
					</div>
					<div class="card_heading">
						<h4 class="heading text-capitalize">service Name</h4>
                    </div>
                    <div class="card_text">
                        <p class="text-primary">yello</p>
                    </div>
				</div>

			</div>
		</div>
	</section>
</main>
