<section class="services">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-sm-8 col-xs-5 text-center mx-100 ">
                <h1 class="text-capitalize fw-400">We do really awesome things</h1>
                <h4 class="fw-400 fc-darkgrey">
                    Lorem ipsum dolor sit amet,
                    <a class="fc-main" href="https://wearedamage.com/" target="_blank" rel="noopener noreferrer">
                        link
                    </a> consectetur adipisicing elit.
                    Libero sapiente nostrum fugiat ullam
                    vitae animi.
                </h4>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 text-center">
                <div class="card_img">
                    <img title="service badge 1" src="../../img/icon-service-badge-1.svg" alt="service badge 1"
                        class="circle">
                </div>
                <div class="card_heading">
                    <h3 class="heading text-capitalize fw-400 mx-10 fc-sub">service name</h3>
                </div>
                <div class="card_text">
                    <p class="text-primary fc-darkgrey fw-400 py-10">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, blanditiis repellendus.
                    </p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="card_img">
                    <img title="service badge 2" src="../../img/icon-service-badge-2.svg" alt="service badge 2"
                        class="circle">
                </div>
                <div class="card_heading">
                    <h3 class="heading text-capitalize fw-400 mx-10 fc-sub">service name</h3>
                </div>
                <div class="card_text">
                    <p class="text-primary fc-darkgrey fw-400 py-10">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam ipsum voluptates obcaecati
                        odio.
                    </p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="card_img">
                    <img title="service badge 3" src="../../img/icon-service-badge-3.svg" alt="service badge 3"
                        class="circle">
                </div>
                <div class="card_heading">
                    <h3 class="heading text-capitalize fw-400 mx-10 fc-sub">service name</h3>
                </div>
                <div class="card_text">
                    <p class="text-primary fc-darkgrey fw-400 py-10">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem velit voluptatibus sit. Fugit!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>