<section class="testimonial">
	<div class="container">
		<hr class="mt-100 mb-80">
		<div class="row  justify-content-center ">
			<div class="col-md-10 d-flex">
				<img src="../../img/icon-solid-speach-marks.svg" alt="" class=" align-self-start mx-10 my-40">
				<p class="fs-3 fw-400 text-justify fc-sub">
					We'll put a happy little sky in here.
					There isn't a rule.
					You just practice and find out which way works best for you.
					<span class="text-capitalize fc-darkgrey fw-400  d-block fs-6 mx-20">
						Roy barber - damage
					</span>
				</p>
			</div>
		</div>
		<hr class="mt-40 mb-10">
	</div>
</section>
